.App {
  text-align: center;
}
.NavBar{
  background-color: white;
}
.title--navBar{
  background-color: white;
  height: 15vh;
  color: #8033c4;
  font-size: 10vh;
}
body{
  background: url("https://content.sportslogos.net/news/2019/08/utah-jazz-1990s-mountain-logo.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.scoreboard{
  height:275px;
  width: 425px;
  background-color: white;
  padding: 5px;
  margin:15px;
}
